.footer {
  padding-top: 28px;
  padding-bottom: 20px;
  background: #F0F0F0;
  margin: 0 auto;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.footer-nav__link {
  color: #222;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
}

.footer-socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-socials__vk {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../../images/vk.png');
  background-repeat: no-repeat;
  background-position: center;
}

.footer-socials__whatsup {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../../images/whatsup.png');
  background-repeat: no-repeat;
  background-position: center;
}

.footer-socials__instagram {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../../images/instagram.png');
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  margin-top: 16px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .footer-nav > a:nth-child(6),
  .footer-nav > a:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .footer-nav {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 320px;
  }

  .footer-nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
  }

  .footer-nav__link {
    text-align: left;
  }

  .footer-socials {
    margin-left: 10px;
    justify-content: flex-start;
    gap: 24px;
  }

  .copyright {
    margin-left: 10px;
    text-align: left;
  }
}
