* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Gotham Pro', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  width: 1820px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1920px) {
  .wrapper {
    width: 1500px;
  }
}

@media screen and (max-width: 1600px) {
  .wrapper {
    width: 1220px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 920px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 320px;
  }
}
